
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Outfit;
}

body{
  background-color: #dadada;
}

a{
  text-decoration: none;
  color: inherit;
}

nav{
  display:flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.573);
  padding: 10px 20px;
  color: #101010;
  
}
.nav-country{
  display: flex;
  font-size: 13px;
  color: #101010;
}

.nav-search{
  flex:1;
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  color:gray;
  max-width: 1000px;
  border-radius: 4px;
  margin-left: 15px;
  border-radius: 4px;
  
}

.nav-search-category{
  display: flex;
  align-items:center;
  padding:10px 15px;
  gap:5px;
  background-color: #e5e4e5;
  border-radius: 4px 0 0 4px;
}

.nav-search-input{
  flex:1;
  border:none;
  outline:none;
  padding-left:20px;
}

.nav-search-icon{
  max-width:41px;
  max-height:100%;
  padding:5px;
  margin: 0px;
  border:none;
  border-radius: 4px;
  background-color: rgb(222, 221, 221);
}

.nav-search-category:hover,.nav-search-icon:hover{
  background-color: #c4c4c4;
  cursor: pointer;
}

.nav-language{
  display:flex;
  margin-left: 20px;
  gap:5px
}

.log-in-btn{
  background-color: white;
  color: rgb(18, 18, 18);
  border: 2px solid rgb(56, 56, 57);
  height:35px;
  width: 80px;
  border-radius: 2px;
  cursor: pointer;
}

.sign-up-btn{
    background-color: rgb(157, 157, 157);
    color: rgb(31, 31, 31);
    border: none;
    height:35px;
    width: 80px;
    border-radius: 2px;
    cursor: pointer;
}

.sign-up-btn:hover{
  background-color: #5a5a5a;
}

.nav-text{
  display: flex;
  gap:5px;
}

.nav-cart{
  margin:0px 15px;
}


.header-slider ul{
  display:flex;
  overflow-y: hidden;
  position: absolute;
  z-index: -1;
  top:0px;
}

.header-img{
  
   height: 100vh;
   width:100%;
  object-fit:cover;
  opacity: 0.6;
  /* mask-image: linear-gradient(#000000 50%,transparent 100%); */
}

.header-slider a{
  position:absolute;
  top:50%;
  z-index: 1;
  padding: 5vh 1nw;
  background:#ffffff34;
  color:#0000007b;
  text-decoration: none;
  font-weight:600px;
  font-size:35px;
  cursor:pointer;
}

.control-next{
  right:0px;
}

.box-col img{
  height: 200px;
  width:200px;
  margin: 10px;
  object-fit: cover;
}

.box-col{
  background-color:rgb(255, 255, 255);
  /* border:1px solid rgba(136, 134, 134, 0.603); */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  padding:10px 10px;
  
  z-index: 1;
}
.box-col:hover{
  box-shadow: 5px 5px 10px rgb(159, 157, 157);
}

.box-col a{
  color: #1e1b1b;
  text-decoration: none;
}
.box-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.header-box{
  margin-top:30%;
  
}

